parameters:
	paths:
		- src
		- tests
		- modules/json_forms_example/src
	scanFiles:
		- vendor/drupal/core/tests/Drupal/Tests/UnitTestCase.php
	bootstrapFiles:
		- vendor/autoload.php
	level: 9
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Assert\AssertionFailedException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to wirk with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections
		# Wrong phpdoc type hint in Drupal
		- '/^Parameter #1 \$key of method Drupal\\Core\\Form\\FormStateInterface::hasTemporaryValue\(\) expects string, array<int\|string> given.$/'
		- '#^Method Drupal\\Core\\Form\\FormBuilderInterface::getForm\(\) invoked with \d+ parameters, 1 required.$#'
		-
			message: '#^Variable property access on mixed.$#'
			paths:
				- */src/JsonForms/Definition/Control/ControlDefinition.php
				- */src/JsonForms/Definition/Layout/LayoutDefinition.php
		- '#^Method Drupal\\json_forms\\JsonForms\\Definition\\Control\\[^\s]+ControlDefinition::[^\s]+\(\) should return [^\s]+\|null but returns mixed.$#'
	tmpDir: .phpstan
